:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P-Regular';
  --font-weight-regular: 410;
  --font-weight-bold: 715;
  --gradient: repeating-linear-gradient(to right, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px), repeating-linear-gradient(to bottom, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px), linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  --bg-color: #fff;
  --font-color: #000;
  --fill-color: #f00;
  --clamp-main: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  --border: solid 2px #000;
  --stroke-color: rgba(255, 255, 255, 0.5);
}


